/* No conflicts should arise with other CSS names */

.canvas-container {
    height: 300px;
    margin: auto;
    padding: 0%;
}

.display-4 {
    text-align: center;
    padding: 0%;
}

.wrapper-details {
    font-size: 14px;
    margin-top: 8%;
}

#report-section {
    margin-top: 8%;
}