/* No conflicts should arise with other CSS names */

.report-container {
    margin: 4% 10% 10% 10%;
    padding: 5%;
    box-shadow: 0px 0px 20px;
}

.canvas-container {
    height: 300px;
    margin: auto;
    padding: 0%;
}

.display-4 {
    text-align: center;
    padding: 0%;
}

.wrapper-details {
    font-size: 14px;
    margin-top: 8%;
}

