.canvas-container {
    height: 300px;
    margin: auto;
    padding: 0%;
}

.display-4 {
    text-align: center;
    padding: 0%;
}

.mg {
    margin-top: 13%;
}

p {
    margin: 1%;
}
.wrapper-details {
    font-size: 14px;
    margin-top: 8%;
}