html, body {margin: 0; height: 100%; overflow: hidden}

body {
  background-color: #fcfcfc;
}

h1 {
  font-family: 'Arvo', serif;
}

h2, h3, h4, h5, p {
  font-family: 'Open Sans', sans-serif;
}

div.clear {
  clear: both;
}

img.darkened {
  -webkit-filter: brightness(70%);
}

img.darkened:hover, img.selected {
  -webkit-filter: brightness(100%);
}

img.fixed-size {
  width: 45%;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 50px;
  background-color: #ea8685;
}

div.container {
  text-align: center;
  width: inherit;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

#landing-page {
  height: 100%;
}

#landing-content {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-align: center;
}

#background-image {
  float: right;
  height: 1008px;
  width: 714px;
  background-image: url("landing-page-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px 15px #fcfcfc inset;
}

.progress-bar {
  width: calc(100% - 6px);
  height: 20px;
  background: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 5px;
  background: #659cef;
  border-radius: 3px;
  /*transition: width 250ms ease-in-out;*/
  transition: width 5s ease-in-out;
}
